# Default values for interlink.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nodeName: virtual-node

interlink:
  image: ghcr.io/intertwin-eu/interlink/interlink:latest
  enabled: false
  exportPodData: false
  dataRootVolume: ""
  # unix socket in /var/run
  socket: null
  # if socket is specified, the address/port are ignored
  address: http://localhost
  port: 4000
  kubernetesApiAddr: ""
  kubernetesApiPort: ""
  kubernetesApiCaCrt: ""
  # If true, do nothing about projected volumes (flag useful in test environment)
  disableProjectedVolumes: false

virtualNode:
  image: ghcr.io/intertwin-eu/interlink/virtual-kubelet-inttw:latest 
  resources:
    CPUs: 8
    memGiB: 49
    pods: 100
    # add accelerators to the virtual node
    #accelerators:
    # fpga example
    #- resourceType: xilinx.com/fpga
    #  model: u55c
    #  available: 1
    # gpu example
    #- resourceType: nvidia.com/gpu
    #  model: a100
    #  available: 1
  HTTPProxies:
    HTTP: null
    HTTPs: null
  HTTP:
    insecure: true
  kubeletHTTP:
    insecure: true
  # uncomment to enable custom nodeSelector and nodeTaints
  #nodeLabels:
  #  - "accelerator=a100"
  #nodeTaints:
  #  - key: "accelerator"
  #    value: "a100"
  #    effect: "NoSchedule"

plugin:
  enabled: false
  image: "" 
  commands: [] 
  args: []
  # content of the "config" will be mounted as /etc/interlink/plugin.yaml
  config: ""
  envs: []
    # - name: SLURMCONFIGPATH
    #   value: /etc/interlink/plugin.yaml
  socket: null
  # if socket is specified, the address/port are ignored
  address: ""
  port: 3000

sshBastion:
  enabled: false
  image: lscr.io/linuxserver/openssh-server:latest 
  clientKeys:
    authorizedKeys: ""
    keysURL: ""
  hostKeys:
    priv: ""
    pub: ""
  port: 31022
    
# disable OAUTH when using sockets for communication in the in-cluster mode
OAUTH:
  enabled: false
  image: ghcr.io/intertwin-eu/interlink/virtual-kubelet-inttw-refresh:latest
  TokenURL: DUMMY
  ClientID: DUMMY
  ClientSecret: DUMMY
  RefreshToken: DUMMY
  GrantType: authorization_code
  Audience: DUMMY

# define extra volumes (e.g. for DataRootVolume)
extraVolumes: []
  # - name: data-root
  #   hostPath:
  #     path: /scratch/interlink/
  #     type: DirectoryOrCreate